<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" ></script>
        <title>Learning Angular</title>
        <link rel="shortcut icon" type="image/jpg" href="https://andrewlock.net/content/images/2016/10/icon.png">
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <script src="../scripts/app/myApp.js"></script>
        <script src="../scripts/controllers/myCtrl.js"></script>
        <script src="../scripts/controllers/myNewCtrl.js"></script>
        <script src="../scripts/controllers/repeatingElements.js"></script>
        <script src="../scripts/controllers/twoWayBindingEx.js"></script>
        <script src="../scripts/controllers/initEmailStatus.js"></script>
        <script src="../scripts/controllers/changeBack.js"></script>
        <script src="../scripts/controllers/nestedFuncControllers.js"></script>
        <script src="../scripts/app/testingRootScope.js"></script>
        <script src="../scripts/controllers/caseFilters.js"></script>
        <script src="../scripts/controllers/raceResults.js"></script>
        <script src="../scripts/filters/customFilters.js"></script>
        <script src="../scripts/controllers/services.js"></script>
        <script src="../scripts/controllers/httpRequests.js"></script>
        <script src="../scripts/controllers/selectControllers.js"></script>
        <div ng-app="myApp"> <!-- ng-app sets up angular environ -->
            <!-- ng-model links the bind by common name -->
            <h3 id="bind-model">Basic bind/model</h3>
            <p>My name is: <input type="text" ng-model="fname"></p>
            <p ng-bind="fname"></p>
            <!-- ng-init initializes variable, then bind -->
            <h3 id="var-init">Variable initialization</h3>
            <div ng-init="curPrice='89.99'">
                <p>The current price is: <span ng-bind="curPrice"></span></p>
            </div>
            <!-- Angular expressions practice. On a valid color the css background will change -->
            <h3 id="expressions">Basic Expressions</h3>
            <p>Last Name: <input type="text" ng-model="lname"></p>
            <p>{{"Full name is: "+ fname + " " + lname}}</p>
            <div ng-init="colorChange = 'Input a color to change this field color'">
                <input style="background-color: {{colorChange}}; width: 25%;" ng-model="colorChange">
            </div>
            <!-- Controller practice. Call js file with names from scope and perform action -->
            <h3 id="controllers">Controllers</h3>
            <div ng-controller="myCtrl">
                <p>{{ "Controller name: " + firstName + " " + lastName }}</p>
                <p> {{"Controller product: " + product }}</p>
            </div>
            <div ng-controller="myNewCtrl">
                <p>{{"Second controller name is: " + firstName + " " + lastName}}</p>
            </div>
            <!-- Data binding practice. Initialize with init and then pass to ng-model -->
            <h3 id="data-binding">Data Binding</h3>
            <div ng-init="Number1=1; Number2=5">
                <p>Enter a first Number to multiply: <input type="text" ng-model="Number1"></p>
                <p>Enter a second Number to multiply: <input type="text" ng-model="Number2"></p>
                <p>Total when numbers multiplied: {{Number1 * Number2}} </p>
            </div>
            <!-- Reapeating element practice. Use ng-repeat -->
            <h3 id="repeating-elements">Repeating elements</h3>
            <div ng-controller="repeatingElements">
                <ul>
                    <li ng-repeat="month in months">
                        {{month}}
                    </li>
                </ul>
                <ol>
                    <li ng-repeat="car in cars">
                        {{car.name + " " + car.model + " " + car.year}}
                    </li>
                </ol>
            </div>
            <!-- Call the custom directive defined in myApp-->
            <div test-directive></div>
            <!-- ng-model allows two-way data binding-->
            <h3 id="two-way-binding">Two Way Binding</h3>
            <div ng-controller="twoWayBindingEx">
                Favorite Team: <input ng-model="favoriteTeam">
                <br>You entered: {{favoriteTeam}}<br>
            </div>
            <!-- Use to check for validation, used for type validation. <span> groups inline elements.-->
            <h3 id="input-validation">Input Validation</h3>
            <form name = "emailForm">
                Please enter a valid email:
                <input type="email" name="myAddress" ng-model="text">
                <span ng-show="emailForm.myAddress.$error.email">Not a valid e-mail address</span>
            </form>
            <!-- ng-model can also provide status for application data-->
            <h3 id="status-validation">Application Data Status Example</h3>
            <form name="statusForm" ng-controller="initEmailStatus">
                Please enter email: <input type="email" name="myAddress" ng-model="initEmail" required>
                <h4>Status</h4>
                <ol>
                    <li>{{statusForm.myAddress.$valid }} </li>
                    <li>{{statusForm.myAddress.$dirty }} </li>
                    <li>{{statusForm.myAddress.$touched }} </li>
                </ol>
            </form>
            <!-- model binds required tag to css in style.css -->
            <h3 id="css-ng-model">ng-model With CSS</h3>
            <form name="req-field-form">
                Enter your name: <input type="text" ng-model="myText" name="reqText" required>
            </form>
            <!-- Two way binding with a controller and clicking -->
            <h3 id="two-way-binding-click">Two Way Binding With Clicks</h3>
            <div ng-controller="changeBack">
                <p ng-click="changeNum()">Click the number to change: {{ number }}</p>
            </div>
            <!-- Controllers using nested functions -->
            <div ng-controller="nestedFuncControllers">
                <p>First Name: <input type="text" ng-model="firstName"></p>
                <p>Last Name: <input type="text" ng-model="lastName"></p>
                <p>Full Name is: {{fullName()}}</p>
            </div>
            <!-- Root scope can be used anywhere in the app -->
            <h3>Testing the Root Scope</h3>
            <p> {{msg}}</p>
            <!-- Testing numerous filters here -->
            <h3>Testing Filters</h3>
            <div ng-controller="caseFilters">
                <p> This was uppercase: {{ toUpper | uppercase }} </p>
                <p> This was lowercase: {{ toLower | lowercase}} </p>
            </div>
            <div ng-controller="raceResults">
                <p> <em>These race results are ordered by finish position</em>
                    <ol>
                        <li ng-repeat="runner in resultData | orderBy: 'position'">
                            {{runner.name}}
                        </li>
                    </ol>
                </p>
            </div>
            <div id="currency-filter">
                <p>Enter a number of product: <input type="text" id="priceFieldOne" ng-model="numItems" maxlength="3" required></p>
                <p>Enter a price for each product <input type="text" id="priceFieldTwo" ng-model="price" maxlength="8" required></p>
                <p> Your total price comes out to: {{(numItems * price) | currency }}</p>
            </div>
            <div ng-controller="searchFilters">
                <p>Search a city in list: <input type="text" ng-model="toFind"></p>
                <p ng-repeat="city in cities | filter:toFind">
                    {{city}}
                </p>
            </div>
            <div ng-controller="sortTable">
                <table border="1" width="50%">
                    <thead align="center"> <strong class="sortingTableHead">Table Click to Sort</strong></thead>
                    <tr>
                        <th ng-click="orderByThis('capital')">Capital</th>
                        <th ng-click="orderByThis('country')">Country</th>
                    </tr>
                    <tr ng-repeat="x in countryInfo | orderBy: userOrder">
                        <td>{{x.capital}}</td>
                        <td>{{x.country}}</td>
                    </tr>
                </table>
                <p><strong>Filter for European Countries With Populations over 1 million</strong> </p>
                <ul>
                    <!-- ng-show will only show the real results. Without this empty strings from the undesired will show-->
                    <li ng-repeat="x in countryInfo" ng-show="(x | myCustomFilter).length > 0">
                        {{x| myCustomFilter}}
                    </li>
                </ul>
            </div>
            <!-- Services section, show where window is running, sample HTTP, timeout, interval-->
            <h3>Services</h3>
            <div ng-controller="myLocation">
                <p> Your URL is: {{myUrl}} </p>
            </div>
            <div ng-controller="w3Http">
                <p> HTTP response is: {{w3HttpResponse}}</p>
            </div>
            <div ng-controller="timeoutResponse">
                <p class="timeout">{{headline}}</p>
            </div>
            <div ng-controller="timeInterval">
                <p class="interval-time">{{curTime}}</p>
                <p class="interval-message">{{message}}</p>
            </div>
            <!-- HTTP section -->
            <h3>HTTP Requests</h3>
            <div ng-controller="funcGet">
                <p> {{response}} </p>
            </div>
            <!-- Since myData holds an obj that holds a list of objs, go through each and get field-->
            <div ng-controller="namesFromServer">
                <table id ="names-countries" border="3", width="50%">
                    <!-- Create header row, have sorting according to click -->
                    <tr>
                        <th><strong>Index</strong></th>
                        <th ng-click="sortBy('Name')"><strong>Name</strong></th>
                        <th ng-click="sortBy('Country')"><strong>Country</strong></th>
                    </tr>
                    <tr ng-repeat="x in myData | orderBy:sortMethod">
                        <td>{{$index + 1}}</td>
                        <td>{{x.Name}}</td>
                        <td>{{x.Country}}</td>
                    </tr>
                </table>
            </div>
            <!-- Select boxes -->
            <h3>Using Select Boxes</h3>
            <div ng-controller="selectFilterBy">
                <p>Select a car: </p>
                <!--ng-options will create the options. better than repeat here because it can use objs-->
                <select ng-model="selectedCar" ng-options="x.model for x in cars"></select>
                <p>Manufacturer is: {{selectedCar.manufacturer}}</p>
                <!-- Can use key-value pairs in options...data source as obj-->
                <p>Select a car: </p>
                <select ng-model="altSelections" ng-options="x for (x,y) in altCars"></select>
                <p>{{altSelections.model + " " + altSelections.year + " " + altSelections.origin}}</p>
            </div>
            <!-- Testing DOM -->
            <h3>Testing Angular DOM</h3>
            <!-- First set submit to disabled, then bind value to ng-model for the checkbox-->
            <div ng-init="dis=true">
                <button type="submit" ng-disabled="dis">I am Disabled</button>
                <input type="checkbox" ng-model="dis">I am active</button>
                <p>Active button value is: {{dis}}</p>
                <p ng-visible="true"> I am a visible paragraph</p>
                <p>Enter a number greater than 100 to see message: <input type="number" maxlength="4" ng-model="overThreshold">
                <span ng-show="overThreshold > 100" style="color:red"><strong>{{overThreshold}}</strong></span></p>
            </div>
        </div>
    </body>
</html>
