/* sets all invalid input fields as red */
input.ng-invalid{
    background-color: red;
}
#priceFieldOne{
    width: 2%;
}
#priceFieldTwo{
    width: 5%;
}
.sortingTableHead{
    font-size: 16px;
}
p.timeout{
    font-weight: bold;
    font-size: 16;
    text-align: center;
}
p.interval-time, p.interval-message {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: purple;
}